<script type="text/javascript">
	$(()=>{

		$('#btnproductsubmit').click((e)=>{

			let product_name = $('#product_name').val()
			let product_weight = $('#product_weight').val()
			let product_price = $('#product_price').val()
			let csrftoken = $('input[name=csrfmiddlewaretoken]').val()

			if (product_name=='' || product_price=='' || product_price==''){
				alert('Please Fill All the Fields!')
			}else{
				product_data = {product_name:product_name, product_price:product_price, product_weight:product_weight}

				$.ajax({
					headers: {
						'X-CSRFToken':csrftoken
					},
					url:"{% url 'product:productprocess' %}",
					type:'POST',
					data:product_data, 
					success:(data)=>{
						if (data.status==1){
							window.location.href = "{% url 'product:productdata' %}" 
						}else if (data.status==0){
							alert('Error. Please try again.')
						}
					}

				})
			}

		})

	})
</script>