{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block title %}<title>Product</title>{% endblock %}
</head>
<body>
	{% block content %}
	<div class="row">
		<div class="contanier-fluid col-sm-8">
			<h2 class="text-center alert alert-info">Products</h2>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Product Weight(gms)</th>
						<th>Product Price(INR)</th>
					</tr>
				</thead>
				<tbody>
					{% for i in product_data %}
					<tr>
						<td>{{i.product_name}}</td>
						<td>{{i.product_weight}}</td>
						<td>{{i.product_price}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<h4><a href="{% url 'product:addproduct' %}">Add Product</a></h4>
		</div>
	</div>
	{% endblock %}
</body>
</html>
`
